[Unit]
Description=reverse ssh tunnel
Requires=network-online.target
After=network-online.target


[Service]
Type=simple
User=pi
ExecStart=/usr/bin/ssh -v -N -R localhost:32003:localhost:22 device_tarpi@35.234.150.146 -o ExitOnForwardFailure=yes -o ServerAliveInterval=1 -o ServerAliveCountMax=2
Restart=always
RestartSec=30


[Install]
WantedBy=multi-user.target

# Connect from impedance to rpi:
# ssh -tt iot-gateway.europe-west2-a.tarasovka-monitoring ssh -ttp 32003 pi@127.0.0.1
