[Unit]
Description=(re-)enable 3g/4g modem internet
Requires=network-online.target
After=network-online.target


[Service]
Type=oneshot
ExecStart=-/usr/bin/curl -v --header "Referer: http://192.168.0.1/index.html" http://192.168.0.1/goform/goform_set_cmd_process?goformId=CONNECT_NETWORK
ExecStart=-/usr/bin/curl -v --header "Referer: http://192.168.0.1/index.html" http://192.168.0.1/goform/goform_set_cmd_process?goformId=SET_CONNECTION_MODE&ConnectionMode=auto_dial
Restart=no


[Install]
WantedBy=multi-user.target
