[Unit]
Description=thermo daemon
Requires=network-online.target
After=network-online.target


[Service]
Type=simple
User=pi
EnvironmentFile=/home/pi/keyinfo.txt
ExecStart=/home/pi/build-thermo/qt-5-3-2-debug/install-root/thermo ${SMS_PASS}
Restart=always
RestartSec=60


[Install]
WantedBy=multi-user.target