[Unit]
Description=timer unit for updating repo with thermo project and installing it in the system
Requires=network-online.target
After=network-online.target

[Timer]
OnCalendar=*-*-* 0/1:18:00
Unit=update_thermo.service

[Install]
WantedBy=multi-user.target
